header.header
    .header__top
        .header__social.social
            .social__list
                .social__item
                    a(href='#')
                        img(src='static/img/general/vk.png')
                .social__item
                    a(href='#')
                        img(src='static/img/general/tw.png')
                .social__item
                    a(href='#')
                        img(src='static/img/general/fb.png')
        .header__logo
            a(href='#')
                img(src='static/img/general/logo.png')
        .header__contacts.contacts
            .contacts__time-phone
                .contacts__time Время работы: 9:00 - 18:00
                .contacts__phone
                    a(href='tel:+79219958369') +7 (921) 995-83-69
            .contacts__address Санкт- Петербург, улица#[br]Передовиков 18а.#[br]Бокс 327
    .header__menu.menu
        .menu__list
            .menu__item.menu__item_active
                a(href='index.html') Главная
            .menu__item
                a(href='services.html') Услуги
            .menu__item
                a(href='price.html') Прайс
            .menu__item
                a(href='reviews.html') Отзывы
            .menu__item
                a(href='contacts.html') Контакты
