.slider
    .slider__list.js-main-slider
        .slider__item.slide(style="background-image: url('static/img/content/slider-1.jpg')")
            .slide__text Бесплатный осмотр Вашего автомобиля
        .slider__item.slide(style="background-image: url('static/img/content/slider-1.jpg')")
            .slide__text Бесплатный осмотр Вашего автомобиля
        .slider__item.slide(style="background-image: url('static/img/content/slider-1.jpg')")
            .slide__text Бесплатный осмотр Вашего автомобиля