extends ../layout/main

block variables
    - var title = 'Галерея'
    - var pageClass = 'gallery'


block content
    .gallery__list
        .gallery__item(style='background-image: url("static/img/content/slider-1.jpg")' data-fancybox='gallery' href='static/img/content/slider-1.jpg')
        .gallery__item(style='background-image: url("static/img/content/slider-1.jpg")' data-fancybox='gallery' href='static/img/content/slider-1.jpg')
        .gallery__item(style='background-image: url("static/img/content/slider-1.jpg")' data-fancybox='gallery' href='static/img/content/slider-1.jpg')
        .gallery__item(style='background-image: url("static/img/content/slider-1.jpg")' data-fancybox='gallery' href='static/img/content/slider-1.jpg')
        .gallery__item(style='background-image: url("static/img/content/slider-1.jpg")' data-fancybox='gallery' href='static/img/content/slider-1.jpg')

