extends ../layout/main

block variables
    - var title = 'Прайс'
    - var pageClass = 'price'


block content
    table.price__table
        tr
            td(colspan='2') Двигатель
        tr
            td Замена воздушного фильра
            td от 400 руб.
        tr
            td Замена воздушного фильра
            td от 400 руб.
        tr
            td Замена воздушного фильра
            td от 400 руб.
        tr
            td Замена воздушного фильра
            td от 400 руб.
        tr
            td Замена воздушного фильра
            td от 400 руб.
        tr
            td Замена воздушного фильра
            td от 400 руб.
