extends ../layout/main

block variables
    - var title = 'Услуги'
    - var pageClass = 'services'


block content
    .services__heading.h1
        h1 Услуги автосервиса
    .services__text
        p Обратившись к нам, Вы можете быть уверены в качестве предоставляемых услуг, накопленный опыт и уровень мастерства позволяет нам выполнять любые работы, связанные с ремонтом и обслуживанием автомобилей.
    .services__list
        .services__item.service
            .service__icon
                img(src='static/img/content/service-1.png')
            .service__text Диагностика
        .services__item.service
            .service__icon
                img(src='static/img/content/service-2.png')
            .service__text Техобслуживание
        .services__item.service
            .service__icon
                img(src='static/img/content/service-3.png')
            .service__text Двигатель
        .services__item.service
            .service__icon
                img(src='static/img/content/service-4.png')
            .service__text Тормозная система
        .services__item.service
            .service__icon
                img(src='static/img/content/service-5.png')
            .service__text Подвеска
        .services__item.service
            .service__icon
                img(src='static/img/content/service-6.png')
            .service__text ГРМ
        .services__item.service
            .service__icon
                img(src='static/img/content/service-7.png')
            .service__text КПП
        .services__item.service
            .service__icon
                img(src='static/img/content/service-8.png')
            .service__text Система охлаждения
        .services__item.service
            .service__icon
                img(src='static/img/content/service-9.png')
            .service__text Рулевое управление
        .services__item.service
            .service__icon
                img(src='static/img/content/service-10.png')
            .service__text Электрика
        .services__item.service
            .service__icon
                img(src='static/img/content/service-11.png')
            .service__text Техосмотр
        .services__item.service
            .service__icon
                img(src='static/img/content/service-12.png')
            .service__text Автострахование