.price

  &__table
    width: 545px
    margin: 0 auto
    border-collapse: collapse

    td
      border: 1px solid $black
      width: 50%

      font-size: 12px


    td[colspan]
      background-color: $blue
      padding-top: 11px
      padding-bottom: 8px


      text-align: center
      text-transform: uppercase