.reviews

  &__list
    padding: 0 36px
    margin: 0 40px
    padding-bottom: 50px
    margin-bottom: 50px
    border-bottom: 1px solid #e6e6e6

  .review
    display: flex
    align-items: center
    margin-bottom: 20px

    color: $gray2

    &__photo
      margin-right: 10px

    &__date
      margin-bottom: 10px

      font-size: 11px
      line-height: 1
      font-weight: 700
      text-align: right

    &__content
      position: relative
      padding: 9px
      background-color: #e6e6e6
      border-radius: 5px
      box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.25)

    &__text
      margin-bottom: 10px
      font-size: 11px
      line-height: 13px

    &__name
      font-size: 11px
      font-weight: 700

  .form
    width: 545px
    margin: 0 auto

    &__heading
      margin-bottom: 20px

      color: $gray2
      font-size: 16px
      line-height: 24px
      text-transform: uppercase
      font-weight: 500

    &__item
      margin-bottom: 15px

      &_send
        text-align: right

      label
        display: block
        margin-bottom: 10px

        font-size: 10px
        font-weight: 700
        color: $gray2
        text-transform: uppercase;

      input
        width: 100%

      textarea
        width: 100%
        height: 100px

      button
        font-size: 12px
        line-height: 24px
        color: $gray2
        text-transform: uppercase
        background-color: $blue
        border: none




